
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2 id="subtitulo">PAGINA PRINCIPAL</h2>
<figure>

    <img id="imgPrincipal" src="~/imagenes/doctorNuevoActualizar.jpg" alt="Alternate Text" />
</figure>

